body{
  background: #303030;
}

canvas {
  /**1024x576**/
  width: 1000px;
  height: 500px;
  display: block;
}

#canvasBg {
  margin: auto;
  background-color: white;
}

#canvasObject, #canvasPlayer  {
  margin: -500px auto 0px;
}